.App {
  /* background-image: url(https://images2.alphacoders.com/967/thumb-1920-967747.png); */
  /* background-image: url(https://wallpapercave.com/wp/UnuVIXR.jpg); */
  /* background-image: url(https://www.itl.cat/pngfile/big/18-182195_hd-quality-weed-smoke-cool-wallpaper-neon-pokemon.png); */
  /* background-image: url(https://cutewallpaper.org/28/desktop-wallpaper-of-pokemon/1079824345.jpg); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  background-attachment: fixed;
  margin: 0;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
