.landingBody {
  background-image: url(https://cutewallpaper.org/28/desktop-wallpaper-of-pokemon/1079824345.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150vh;
}

.landingBody button {
  border-radius: 50%;
  background-color: #ffffff;
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  padding: 16px 32px;
  border: none;
  cursor: pointer;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.landingBody button:hover {
  background-color: #c61111;
}
