.landingBody {
  background-image: url(https://cutewallpaper.org/28/desktop-wallpaper-of-pokemon/1079824345.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  background-attachment: fixed;
  margin: 0;
}
